.bookDetailsTable .table * {margin: 0 auto; padding: 0;font-size: 14px;font-family: Arial, 宋体, Helvetica, sans-serif;}

.statistics {
  margin: 0 auto; padding: 0;
  font-size: 14px;
  width: 1000px;
}
.header2 {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
